---
// src/pages/compra.astro
import Layout from '../../layouts/Layout.astro';
import CompraDetalle from '../../components/CompraDetalle.astro';
import Formulario from '../../components/Formulario.astro';
import Footer from '../../components/Footer.astro';
---

<Layout title="Comprar Padel Board | Tienda">
    <main>
        <div class="page-spacer"></div>
        
        <CompraDetalle />
        <Formulario />
        
        <Footer />
    </main>
</Layout>

<style>
    /* Espaciador para que el contenido no quede pegado al Navbar fijo */
    .page-spacer {
        height: 100px;
        background-color: var(--color-azul-fondo);
    }
    
    main {
        background-color: var(--color-azul-fondo);
        min-height: 100vh;
    }
</style>