---
// src/pages/en/index.astro

// 1. Importamos la plantilla y los componentes
import Layout from '../../layouts/LayoutEN.astro';
import Hero from '../../components/HeroEN.astro';
import QuienesSomos from '../../components/QuienesSomosEN.astro';
import Pantalla from '../../components/PantallaEN.astro';
import Sensores from '../../components/SensoresEN.astro';
import AppWeb from '../../components/AppWebEN.astro';
import ComoFunciona from '../../components/ComoFuncionaEN.astro';
import PropuestaValor from '../../components/PropuestaValorEN.astro';
import USP from '../../components/USPEN.astro';
import Formulario from '../../components/FormularioEN.astro';
import Footer from '../../components/FooterEN.astro';

---

<Layout title="PadelBoard | Digital Scoreboard">
	<main>
    <Hero />
    <QuienesSomos />
    <Pantalla />
    <Sensores />
    <AppWeb />
    <ComoFunciona />
    <PropuestaValor />
    <USP />
    <Formulario />
    <Footer /> </main>
</Layout>