---
// src/pages/es/index.astro

// 1. Importamos la plantilla y los componentes
import Layout from '../../layouts/LayoutEN.astro';
import Hero from '../../components/Hero.astro';
import QuienesSomos from '../../components/QuienesSomos.astro';
import Pantalla from '../../components/Pantalla.astro';
import Sensores from '../../components/Sensores.astro';
import AppWeb from '../../components/AppWeb.astro';
import ComoFunciona from '../../components/ComoFunciona.astro';
import PropuestaValor from '../../components/PropuestaValor.astro';
import USP from '../../components/USP.astro';
import Formulario from '../../components/Formulario.astro';
import Footer from '../../components/Footer.astro';

---

<Layout title="Padel Board | El Marcador Digital">
	<main>
    <Hero />
    <QuienesSomos />
    <Pantalla />
    <Sensores />
    <AppWeb />
    <ComoFunciona />
    <PropuestaValor />
    <USP />
    <Formulario />
    <Footer /> </main>
</Layout>